<div class="container main-container">
  <h3>Interpolation</h3>
  <!-- <p>O número de cliques é: {{ contadorClique }}</p> -->
  <p
    [ngClass]="{
      'text-secondary': contadorClique < 3,
      'text-success': contadorClique >= 3,
      'text-warning': contadorClique >= 5,
      'text-danger': contadorClique >= 9
    }"
  >
    O número de cliques é: {{ contadorClique }}
  </p>
  <br />
  <br />
  <h3>Property Binding</h3>
  <button class="btn btn-info" [disabled]="contadorClique >= 10">Info</button>
  <br />
  <br />
  <img [src]="urlImagen" height="50" width="50" />
  <br />
  <br />
  <br />
  <br />

  <h3>Event Binding</h3>
  <button class="btn btn-warning" (click)="adicionarClique()">Clique-me</button
  >&nbsp;
  <button
    class="btn btn-danger"
    (click)="zerarContador()"
    [disabled]="contadorClique < 10"
  >
    Zera contador
  </button>
  <br />
  <br />
  <br />
  <br />
  <h3>Two-way Binding 1</h3>
  <!--esse não é Two-way-->
  <!-- <input type="text" (keyup)="keyUp($event)" placeholder="Digite seu nome" />
  <br />
  <br />
  <label>Seu nome é {{ nome }}</label> -->
  <!-- <h3>Two-way Binding com input</h3>
    é two-way bindind com decorator input
  <input type="text"  [(ngModel)]="nome2" name="nome" (input)="pegaTexto()"  placeholder="Digite seu nome" />
ou
  <input type="text"  [(ngModel)]="nome2" name="nome" (input)="nome = $event.target.value"  placeholder="Digite seu nome" />

  <br />
  <br />
  <label>Seu nome é {{ nome2 }}</label> -->

  <!-- <input
    type="text"
    [ngModel]="nome"
    (ngModelChange)="nome = $event"
    placeholder="Digite seu nome"
  />
  <br />
  <br />
  <label [ngClass]="nome">Seu nome é {{ nome }}</label> -->

  <input
    type="text"
    [(ngModel)]="nome"
    placeholder="Digite seu nome"
  />
  <br />
  <br />
  <label [ngClass]="nome">Seu nome é {{ nome }}</label>
</div>
