<style>
  /* .map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }

  .map-frame {
    border: 2px solid black;
    height: 100%;
  }

  #map {
    height: 100%;
  } */
</style>
<!-- Page Content -->
<div class="container main-container">
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">Contato!</h1>
    <p class="lead">
      Visite nossa loja visita.
    </p>
    <div class="map-container">
      <div class="map-frame">
        <div
          id="mapid"
          style="width: auto; height: 280px"
          (leafletMapReady)="onMapReady($event)"
          leaflet
          [leafletOptions]="mapOptions"
        ></div>
      </div>
    </div>
  </header>

  <form class="mbr-form">
    <div class="row row-sm-offset">
      <div class="col-md-4 multi-horizontal" data-for="name">
        <div class="form-group">
          <label
            class="form-control-label mbr-fonts-style display-7"
            for="name-form1-2w"
            >Nome</label
          >
          <input
            type="text"
            class="form-control"
            name="name"
            data-form-field="Name"
            required=""
            id="name-form1-2w"
          />
        </div>
      </div>
      <div class="col-md-4 multi-horizontal" data-for="email">
        <div class="form-group">
          <label
            class="form-control-label mbr-fonts-style display-7"
            for="email-form1-2w"
            >E-mail</label
          >
          <input
            type="email"
            class="form-control"
            name="email"
            data-form-field="Email"
            required=""
            id="email-form1-2w"
          />
        </div>
      </div>
      <div class="col-md-4 multi-horizontal" data-for="phone">
        <div class="form-group">
          <label
            class="form-control-label mbr-fonts-style display-7"
            for="phone-form1-2w"
            >Telefone</label
          >
          <input
            type="tel"
            class="form-control"
            name="phone"
            data-form-field="Phone"
            id="phone-form1-2w"
          />
        </div>
      </div>
    </div>
    <div class="form-group" data-for="message">
      <label
        class="form-control-label mbr-fonts-style display-7"
        for="message-form1-2w"
        >Mensagem</label
      >
      <textarea
        type="text"
        class="form-control"
        name="message"
        rows="7"
        data-form-field="Message"
        id="message-form1-2w"
      ></textarea>
    </div>

    <span class="input-group-btn">
      <button href="" type="submit" class="btn btn-primary btn-form display-4">
        Enviar
      </button>
    </span>
  </form>
</div>
<br />
