<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-2">
        <img
          src="https://angular.io/assets/images/logos/angular/angular.svg"
          alt="logo angular"
        />
      </div>
      <div class="col-lg-10">
        <h1 class="display-4 text-white mt-5 mb-2">
          Desenvolvimento com SPA com Angular
        </h1>
        <p class="lead mb-5 text-white">
          Você está pronto para aprender muito sobre esse fantastico framework
        </p>
      </div>
    </div>
  </div>
</header>

<div class="container main-container">
  <div class="row text-center">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="https://miro.medium.com/max/2428/1*BBOthbBs55UN8FaXsclx3g.png">
            <div class="card-body">
                <h4 class="card-title">Multiplataforma</h4>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="#">Saiba mais</a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="https://elearningindustry.com/wp-content/uploads/2019/08/benefits-of-using-performance-management-software.jpg" alt="" height="164px" width="253px"> 
            <div class="card-body">
                <h4 class="card-title">Performace</h4>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="#">Saiba mais</a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSUiLncUQ4dkbBNMFwDw_pmxVFP8YCfva5F3w&usqp=CAU" alt="" height="164px" width="253px"> 
            <div class="card-body">
                <h4 class="card-title">Produtividade</h4>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="#">Saiba mais</a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="https://www.smart-it.co.za/wp-content/uploads/2017/03/IntegratedModulesGraphic_1024C.png" alt="" height="164px" width="253px"> 
            <div class="card-body">
                <h4 class="card-title">Funcionalidade</h4>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="#">Saiba mais</a>
            </div>
        </div>
      </div>
  </div>
</div>
