<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Loja Produtos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="navbarResponsive"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/produtos']">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sobre']">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contato']">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/featured-data-binding']">Features</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
