<div class="container" *ngIf="produto != null">
  <div class="py-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="https://angular.io/assets/images/logos/angular/angular.svg"
      alt=""
      width="72"
      height="72"
    />
    <h2>produto {{ produto.id }}</h2>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">{{ produto.nome }}</span>
      </h4>

      <img [src]="produto.imagem" alt="produto imagem" width="250" />
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Detalhes do produto</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Nome</label>
            <input
              type="text"
              disabled
              class="form-control"
              id="firstName"
              placeholder=""
              [value]="produto.nome"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Preço</label>
            <input
              type="text"
              class="form-control"
              placeholder=""
              disabled
              [value]="produto.valor | currency: 'BRL':'symbol':'1.2-2':'pt'"
              required
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Nome</label>
          <div class="input-group">
            <input
              disabled
              type="text"
              class="form-control"
              [value]="produto.nome"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
